{% extends 'homepage/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
        <style type="text/css">
          .hero {
            background-image: url("{{ location.hero.url }}");
          }

            @media (max-width: 768px) {
              .hero {
                background: url("{{ location.hero_mobile.url }}");
                background-attachment: fixed
                background-repeat: no-repeat;
                background-position: center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
              }
            }
        </style>
        <section class="jumbotron hero jumbotron-fluid m-0">
            <div class="container">
              <div class="arrow" id="arrow"></div>
            </div>
        </section>
        <section>
            <div id="info-section"class="row">
              <div class="col-lg info-col p-5">
                <h1 class="info-header">
                  WHAT IS THIS?<br/> AND WHATS YOUR STORY?
                </h1>
                <p class="info">
                  inspired by a family tradition of “high, low, buffalo”, a fun exercise
                  in sharing the highs, lows, and funny parts of our day, Hi Lo aims 
                  to encourage people to share about their days and their feelings 
                  just like “high, low, buffalo does”. this is the beginning of us 
                  (fellow riders,walkers, etc.) getting to know one another 
                  throughout our communities across the US while encouraging
                  people to get out on the trails and exercise. it revolves around 
                  the idea that every person has a story to share and we can 
                  unify communities using these diverse stories and connect just
                  like trails and maps do. if you are here right now you scanned a 
                  QR code that was hung up on a nearby trail. we are happy to have
                  you here! so, go ahead and share your story and enjoy being 
                  outside. we’re here with you through your highs and lows! 
                  HAVE A GREAT DAY
                </p>
              </div>
            </div>
            <div id="info-section"class="row">
                <div class="col-lg banner vh-25"></div>
            </div>
        </section>
        <div id="insta-section"class="row">
            <div class="col-lg p-5">
                <p class="insta-info">These responses are not being used in any negative way
                  , just to hear stories and see how cool people are all over! you do not
                  have to share your name or where you live, it just makes your
                  responses more identifiable if you see them on the instagram.
                  every two weeks or so there will be a new question put out via
                  QR, and if you follow the instagram handle, you will know when it
                  has been posted. so, please hit the trails and head out into
                  your community and share a new tidbit about yourself.
                  i hope to publish some stories via instagram and share
                  the journeys taking place all over our country!<br/>

                  <a href="https://instagram.com/{{instagram}}" target="_blank"><i class="fa fa-instagram center pt-3" style="font-size: 48px; color: black; text-align: center; width: 100%;"></i></a>
                </p>
            </div>
        </div>
          <section class="poll-section ">
              <div class="jumbotron poll jumbotron-fluid m-0 border-0">
                <div class="container">
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endfor %}
                  {% endif %}

                  <form id='poll' method="POST" novalidate>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}

                    <div class="row title pb-3 ">
                      <p class="mx-auto title shine">NOW IS YOUR TIME TO SHINE</p>
                    </div>
                    {% if hi_text %}
                      <div class="row pb-3 short-answer">
                        <label class="mx-auto" for="{{ form.hi.id_for_label }}">{{ hi_text|safe }}</label>
                        {{ form.hi|add_class:'w-80 mx-auto rounded question' }}
                        {% for error in form.hi.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.hi|add_class:'hidden' }}
                    {% endif %}
                    {% if lo_text %}
                    <div class="row pb-3 short-answer">
                      <label class="mx-auto" for="{{ form.lo.id_for_label }}">What was the <span class="lo">Lo</span> of this week?</label>
                      {{ form.lo|add_class:'w-80 mx-auto rounded question' }}
                      {% for error in form.lo.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{ form.lo|add_class:'hidden' }}
                    {% endif %}
                    {% if emotion_text %}
                    <div class="row pb-3 short-answer">
                      <label for="test" class="mx-auto">how are you feeling today?</label>
                    </div>
                    <div class="row pb-3">

                      {% for radio in form.emotion %}
                      <div class="col emote">
                        <label for="{{ radio.id_for_label }}">
                          {{ radio.tag }}
                          <img src="{% static 'css/res/'|add:radio.choice_label|add:'.svg'|lower } %}" alt="">
                        </label>
                      </div>
                      {% endfor %}
                    </div>
                    {% else %}
                      {% for radio in form.emotion %}
                        {{ radio.tag }}
                      {% endfor %}
                    {% endif %}
                    {% if name_text %}
                    <div class="row pb-3 short-answer">
                      <label class="mx-auto" for="{{ form.name.id_for_label }}">{{ name_text|safe }}</label>
                      {{ form.name|add_class:'w-80 mx-auto rounded question' }}
                      {% for error in form.name.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{ form.name|add_class:'hidden' }}
                    {% endif %}
                    {% if place_text %}
                    <div class="row title">
                      <p class="mx-auto title">#HILOW</p>
                    </div>
                    <div class="row pb-3 short-answer">
                      <label class="mx-auto" for="{{ form.place.id_for_label }}">{{ place_text|safe }}</label>
                      {{ form.place|add_class:'w-80 mx-auto rounded question' }}
                      {% for error in form.place.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{ form.place|add_class:'hidden' }}
                    {% endif %}
                    {% if question_text %}         
                    <div class="row title">
                      <p class="mx-auto title">BONUS QUESTION</p>
                    </div>
                    <div class="row pb-3 short-answer">
                      <label class="mx-auto" for="{{ form.question.id_for_label }}">{{ question_text|safe }}</label>
                      {{ form.question|add_class:'w-80 mx-auto rounded question' }}
                      {% for error in form.question.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{ form.question|add_class:'hidden' }}
                    {% endif %}
                    <div class="row">
                      <button type="submit" class="mx-auto btn text-uppercase">
                        <img width=75% src="{% static 'css/res/submit-white.png' %}">
                      </button>
                    </div>
                  </form>
                </div>
              </div>
          </section>
{% endblock %}