@charset "UTF-8";
@font-face {
  src: url("./fonts/Hanson-Bold.ttf");
  font-family: "Hanson-Bold"; }
@font-face {
  src: url("./fonts/WildYouth-Regular.otf");
  font-family: "WildYouth"; }
@font-face {
  src: url("./fonts/FuturaPTMedium.otf");
  font-family: "Futura";
  font-weight: normal;
  font-style: normal; }
@font-face {
  src: url("./fonts/FuturaPTLight.otf");
  font-family: "Futura-Light"; }
@font-face {
  src: url("./fonts/FuturaPTHeavy.otf");
  font-family: "Futura-Heavy"; }
html {
  background-color: black;
  font-family: "Hanson-Bold", "Arial", sans-serif;
  overflow-x: none !important; }

body {
  overflow-y: scroll;
  /* Keep scroll functionality */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

body::-webkit-scrollbar {
  display: none; }

.hero {
  background-image: url("res/hilo-hero-text.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 768px) {
    .hero {
      background-image: url("res/hilo-hero-text-mobile.png"); } }

.arrow {
  cursor: pointer;
  width: 70px;
  margin: 0 auto;
  height: 100px; }

.arrow:after {
  content: "";
  margin-top: 70vh;
  width: 70px;
  height: 100px;
  position: absolute;
  background-image: url("res/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: 3s infinite ease;
  animation: 3s infinite ease;
  animation-name: การเคลื่อนไหวที่-1; }
@keyframes การเคลื่อนไหวที่-1 {
  0%,
       100% {
    top: 50px; }
  50% {
    top: 80px; } }
.vh-25 {
  height: 25vh; }

.vh-50 {
  height: 50vh; }

.banner {
  color: white;
  background-image: url("res/banner.png");
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  transform: scale(1.2); }

.info-col {
  background-color: #fff; }

.info-header {
  color: #000000;
  font-family: "Hanson-Bold", "Arial", sans-serif; }
  @media (max-width: 768px) {
    .info-header {
      font-size: 1.5em; } }

.info {
  font-size: .8em;
  color: #000000;
  font-family: "Hanson-Bold", "Arial", sans-serif; }
  @media (max-width: 768px) {
    .info {
      font-size: .75em; } }

#insta-section {
  border-bottom: 2px solid white; }
  #insta-section div {
    background-color: #ffffff; }

.bg-colored:before {
  right: -999em;
  background: #0b3b52;
  content: '';
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0; }

.poll-section {
  text-align: center; }

.poll {
  color: white;
  background: #4b4b4b;
  background: -webkit-linear-gradient(#464646, #4b4b4b);
  background: linear-gradient(#464646, #4b4b4b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Hanson-Bold", "Arial", sans-serif;
  font-weight: lighter;
  font-size: .75em; }

.short-answer {
  font-size: 1.1em; }

.title {
  color: #fff;
  font-size: 1.40em;
  text-align: center; }
  @media (min-width: 768px) {
    .title {
      font-size: 1.45em; } }

.subtitle {
  color: #fff;
  font-size: 1.1em; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 1.2em; } }

label {
  font-size: 1.25em; }

.btn {
  color: #000000;
  border-image-repeat: none; }

.hi {
  color: #80ea7b; }

.lo {
  color: #f85151; }

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  width: 25vw;
  height: auto; }
  @media (min-width: 768px) {
    [type=radio] + img {
      width: 10vw;
      height: auto;
      margin: auto;
      display: block; } }

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #000000; }

.hidden {
  display: none; }

.w-80 {
  width: 80%; }

.results-emote {
  width: 150px;
  height: auto; }

.question {
  font-size: 2em; }

/*# sourceMappingURL=styles.css.map */
